* {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -4;
}

.bigtitle {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #faff00;
  text-align: center;
  font-size: 12px;
}

.start .box {
  cursor: pointer;
  opacity: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 300px;
  border-radius: 30px;
  border: 3px #faff00 solid;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.start .box:hover,
.start .box:focus {
  border-color: white;
  color: white;
  background-color: black;
}

.start svg {
  margin-top: -30px;
  opacity: 100%;
  z-index: 5;
}

#meimg {
  margin-left: -50px;
}

.title {
  color: rgba(250, 255, 0, 0.9);
}

.title h1 {
  font-size: 32px;
  font-weight: 500;
  text-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
}

.continue {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  height: 80vh;
  width: 80%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: rgba(250, 255, 0, 0.9);
}

.continue h1 {
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly 20px;
      -ms-flex-pack: space-evenly 20px;
          justify-content: space-evenly 20px;
}

.cell {
  cursor: pointer;
  width: 300px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  background: radial-gradient(74.4% 74.4% at 50% 50%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
}

.cell img {
  z-index: 10;
}

.cell:hover {
  background: radial-gradient(74.4% 74.4% at 50% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content h1 {
  margin: 15px;
  color: white;
}

.notif {
  display: NONE;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 500;
  padding: 5px;
  background-color: #fa9595;
  width: 400px;
  height: 280px;
  border-radius: 30px;
}

.notif h2 {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.contact,
.games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: Absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
  margin: 5px;
  margin-bottom: -200px;
  z-index: 30;
}

.back {
  position: Absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 10%;
  top: 10%;
  height: 50px;
  width: 80px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.158);
  color: white;
  text-align: center;
}

span {
  color: #eb9292;
}
/*# sourceMappingURL=index.css.map */